body {
  font-size: 20;
  background-image: url('https://i.imgur.com/dlR5Irq.jpg')
}
.subtitle {
  text-align: center;
}
h1 {
  margin: auto;
  text-align: center;
  font-family: 'brush script mt';
  font-size: 10vw;
}
form {
  background-color: rgba(100,100,100, 60%);
  padding: 30px;
  width:95vw;
  max-width: 900px;
  margin: auto;
}
article {
  padding: 10px
}
input, select/*HOW DO I TARGET TEXT INPUTS?*/ {
  margin-top: 5px;
}
div[id='column-left'] {
  width: 50%;
  float: left;
}
div[id='column-right'] {
  width: 50%;
  float: right;
}
